body {
  font-family: Lato, sans-serif;
  color: #333;
  font-size: 1em;
  line-height: 1.4;
}
* {
  box-sizing: border-box;
}

.new-head {
  background-color: #000;
}
.new {
  display: flex;
  height: auto;
  align-items: center;
}
.text-area a {
  width: 100%;
  margin-top: 100px;
  text-decoration: none;
  max-width: 100%;
  display: inline-block;
}
.back-btn {
  color: #75a3ff;
  font-weight: 700;
  margin-bottom: 1em;
}

.img-area {
  border: 2px solid red;
}
